@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply  min-h-[85vh] w-full;
  }

  .globalWidth {
    @apply mx-auto max-w-3xl md:max-w-6xl
  }
}

/*^ Horizontal Bounce */
@keyframes bounce-horizontal {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-horizontal {
  animation: bounce-horizontal 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

/*^ Normal Bounce */
@keyframes bounce {
  0%, 100% {
    transform: translateY(-35%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.slow-bounce {
  animation-duration: 1.5s;
}
